@model List<QLTours.Models.Booking>

@{
    ViewData["Title"] = "Booking";
}
<div class="container my-5">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>TourName</th>
                <th>Date</th>
                <th>Total</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.BookingId</td>
                    <td>@item.Tour.TourName</td>
                    <td>@item.BookingDate.ToString("dd/MM/yyyy")</td>
                    <td>@item.Total</td>
                    <td>@item.Status</td>
                    <td>
                        <form method="post" action="@Url.Action("CancelBooking", "Home", new { bookingId = item.BookingId })">
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                       
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>